@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* greyscale */
  --color-greyscale-50: #f6f6f6;
  --color-greyscale-100: #f0f0f0;
  --color-greyscale-200: #d1d1d1;
  --color-greyscale-300: #b0b0b0;
  --color-greyscale-400: #888888;
  --color-greyscale-500: #6d6d6d;
  --color-greyscale-600: #5d5d5d;
  --color-greyscale-700: #393939;
  --color-greyscale-800: #232323;
  --color-greyscale-900: #202020;
  --color-greyscale-950: #1a1a1a;
  /* sky */
  --color-sky-50: #f3f8fa;
  --color-sky-100: #e9f2f6;
  --color-sky-200: #d7e5ee;
  --color-sky-300: #bed4e3;
  --color-sky-400: #a3bed6;
  --color-sky-500: #8ca7c8;
  --color-sky-600: #7790b9;
  --color-sky-700: #6278a0;
  --color-sky-800: #516382;
  --color-sky-900: #465469;
  --color-sky-950: #29313d;
  /* grass */
  --color-grass-50: #f7f9ec;
  --color-grass-100: #ebf0d7;
  --color-grass-200: #d8e3b3;
  --color-grass-300: #bed086;
  --color-grass-400: #a4bc5f;
  --color-grass-500: #86a141;
  --color-grass-600: #718a35;
  --color-grass-700: #506229;
  --color-grass-800: #424f25;
  --color-grass-900: #394423;
  --color-grass-950: #1d240f;
  /* typography */
  --font-hanken-grotesk: "Hanken Grotesk", sans-serif;
  --font-instrument-serif: "Instrument Serif", serif;
  --font-dm-mono: "DM Mono", monospace;
  /* shadows */
  --button-light:
    0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset,
    0px 1px 1px 0px rgba(26, 26, 26, 0.25);
  --button-dark:
    0px 2px 2px 0px rgba(255, 255, 255, 0.15) inset,
    0px 1px 1px 0px rgba(26, 26, 26, 0.25);
  --inset-light:
    0px 1px 1px 0px rgba(26, 26, 26, 0.25) inset, 0px -1px 1px 0px #fff inset;
  --inset-dark:
    0px 1px 1px 0px #1a1a1a inset,
    0px -1px 1px 0px rgba(117, 117, 117, 0.25) inset;
  --nav-bar-light:
    0px 0px 12px 0px rgba(255, 255, 255, 0.25) inset,
    0px 2px 8px -2px rgba(0, 0, 0, 0.05), 0px 4px 8px -1px rgba(0, 0, 0, 0.05);
  --nav-bar-dark:
    0px 4px 12px 0px rgba(68, 68, 68, 0.25) inset,
    0px 2px 8px -2px rgba(0, 0, 0, 0.1), 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
  --card-light:
    0px 1px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.05);
  --card-dark:
    0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* smooth scroll + transitions */

* {
  scroll-behavior: smooth;
  transition:
    background-color 0.5s ease-in-out,
    color 0s ease-in-out,
    border-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out,
    stroke 0.5s ease-in-out;
}

/* animations */

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

/* custom shadows */

.shadow-button-light {
  box-shadow: var(--button-light);
}
.shadow-button-dark {
  box-shadow: var(--button-dark);
}

.shadow-inset-light {
  box-shadow: var(--inset-light);
}

.shadow-nav-bar-light {
  box-shadow: var(--nav-bar-light);
}

.shadow-card-light {
  box-shadow: var(--card-light);
}

/* font sizes */

body {
  font-family: var(--font-hanken-grotesk);
  color: var(--color-greyscale-950);
  letter-spacing: calc(-0.04em);
  line-height: calc(1.3em);
}

p,
a,
button {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  p,
  a,
  button {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1024px) {
  p,
  a,
  button {
    font-size: 1.25rem;
  }
}
